#Catalog
Catalog/*.swp
Catalog/*.*~
Catalog/project.lock.json
Catalog/.DS_Store
Catalog/*.pyc
Catalog/nupkg/
Catalog/.vscode
Catalog/.idea
Catalog/*.suo
Catalog/*.user
Catalog/*.userosscache
Catalog/*.sln.docstates
Catalog/[Dd]ebug/
Catalog/[Dd]ebugPublic/
Catalog/[Rr]elease/
Catalog/[Rr]eleases/
Catalog/x64/
Catalog/x86/
Catalog/build/
Catalog/bld/
Catalog/[Bb]in/
Catalog/[Oo]bj/
Catalog/[Oo]ut/
Catalog/msbuild.log
Catalog/msbuild.err
Catalog/msbuild.wrn
Catalog/.vs/
#Customers
Customers/*.swp
Customers/*.*~
Customers/project.lock.json
Customers/.DS_Store
Customers/*.pyc
Customers/nupkg/
Customers/.vscode
Customers/.idea
Customers/*.suo
Customers/*.user
Customers/*.userosscache
Customers/*.sln.docstates
Customers/[Dd]ebug/
Customers/[Dd]ebugPublic/
Customers/[Rr]elease/
Customers/[Rr]eleases/
Customers/x64/
Customers/x86/
Customers/build/
Customers/bld/
Customers/[Bb]in/
Customers/[Oo]bj/
Customers/[Oo]ut/
Customers/msbuild.log
Customers/msbuild.err
Customers/msbuild.wrn
Customers/.vs/
#Random
Random/*.swp
Random/*.*~
Random/project.lock.json
Random/.DS_Store
Random/*.pyc
Random/nupkg/
Random/.vscode
Random/.idea
Random/*.suo
Random/*.user
Random/*.userosscache
Random/*.sln.docstates
Random/[Dd]ebug/
Random/[Dd]ebugPublic/
Random/[Rr]elease/
Random/[Rr]eleases/
Random/x64/
Random/x86/
Random/build/
Random/bld/
Random/[Bb]in/
Random/[Oo]bj/
Random/[Oo]ut/
Random/msbuild.log
Random/msbuild.err
Random/msbuild.wrn
Random/.vs/